body{
    background-color: rgb(219, 202, 226);
    padding: 0px;
}

/*  Menu */

.container-fluid{
    padding: 0px;
}

.navbar{
    height: 100px;
    border-bottom: 1px solid rgb(78, 73, 80);
}

.navbar-nav{
    margin: 800px; 
}

.navbar-nav {
    font-size: 20px;
    letter-spacing: 5px;
}

.navbar-brand{
    margin-left: 50px;
    font-size: 30px;
}


.botao{
    margin: 10px;
}

/*  rodape   */ 

.rodape{
    height: 200px;
    width: auto;
    background-color: #333;
    color: #fff;
    text-align: center;

}

.rodape h3{
    padding-top: 70px;}


.divtarefas{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(15, 7, 7) ;
    border-radius: 10px;
    padding: 8px;
    background-color: blanchedalmond;

}    

.exc{
    border-bottom: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 5px;
}

.exc h3{
    text-align: center;
}

/* newtreino */

.newbtn{
    padding: 10px;
}

.btnne{
    margin-top: 5px;
}


/* divnovo novo0 treino  */ 


form{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: blanchedalmond;
}


