{% extends 'base.html' %}
{% block content %}
<div class="offset-1 col-md-10"> 
    <div class="botes offset-1 col-md-10">
        <div class=" row btns ">
            
            <div class=" col-md-4">
                <p style="color: #fff;">Adicionar um novo exercicio</p>
                <a href="/oi/"> <button type="button" class="btn btn-primary btnroti">Novo</button></a> 
            </div> 
            <div class="col-md-4">  
            <h2 style="text-align: center;">Exercicios</h2>
            </div>    
            <div class=" col-md-4 ">
                <p style="color: #fff; margin-left: 10px;">Editar um exercicio</p>
                <a href="/editar/"> <button type="button" class="btn btn-warning btnroti"> Editar </button></a> 
            </div>   
        </div> 
    </div>
    <div class="divtarefas">
    
    {% for exercicios in exercs %}

        <div class="exc">
            <div class="row">
                <div class="col-md-5">
                <h2> {{ exercicios.exercicio }} </h2> 
                </div>
                <div class="col-md-2">

                <h3>{{exercicios.repeticao}} </h3> 
                </div>
                <div class="col-md-2 offset-3">
                    <button type="button" class="btn btn-success">Success</button>

                </div>
            </div>
        </div>
    {% endfor %}
</div>
</div>    
{% endblock %}
